name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version-file: pyproject.toml
      - run: |
          make lint INSTALL_EXTRA=lint

  check-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version-file: pyproject.toml

      - run: python -m pip install .

      - name: check-readme
        run: |
          diff \
            <( \
              awk '/@begin-abi3audit-help@/{f=1;next} /@end-abi3audit-help@/{f=0} f' \
                < README.md | sed '1d;$d' \
            ) \
            <( \
              python -m abi3audit --help \
            )
