on:
  release:
    types:
      - published

name: release

permissions: {} # All jobs define their needed permissions below.

jobs:
  build:
    name: Build distributions
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4

      - name: Build distributions
        run: make dist

      - name: Store distributions
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: python-package-distributions
          path: dist/

  publish:
    name: upload distributions to PyPI
    needs:
      - build
    runs-on: ubuntu-latest
    permissions:
      id-token: write # Used to authenticate to PyPI via OIDC.

    steps:
      - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3
        with:
          enable-cache: false

      - name: Download distributions
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: python-package-distributions
          path: dist/

      - uses: astral-sh/attest-action@2c727738cea36d6c97dd85eb133ea0e0e8fe754b # v0.0.4

      - name: publish
        run: uv publish --trusted-publishing=always
